@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --background-color: #f5f5f5;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  background-color: #333;
  padding: 1rem;
  color: #fff;
}

/* Logo */
header img {
  width: 150px;
  height: auto;
}

/* Navigation */
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 3rem;
}

.history {
  padding: 2rem;
  background-color: #f2f2f2;
}

.history h2 {
  text-align: center;
}

.adventure {
  padding: 2rem;
  background-color: #f2f2f2;
  text-align: center;
}

.adventure h2 {
  text-align: center;
}

.adventure-images {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.adventure figure {
  margin: 0;
  flex: 1;
}

.adventure img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ensures uniform height */
  object-fit: cover; /* Ensures the images are uniformly covered */
}

.adventure figcaption {
  text-align: center;
  margin-top: 0.5rem;
}

footer {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-links {
  display: flex;
}

footer .social-links img {
  margin: 0 0.5rem;
}
